<%#
  _accordion
  @param {String} ttl アコーディオンのタイトル
  @param {String} txt 表示されるテキスト
%>

<div class="c-acc js-accordion-wrap">
  <p class="c-acc__ttl js-accordion-trigger"><span><%- ttl %></span></p>
  <p class="c-acc__txt js-accordion-content"><%- txt %></p>
</div>