<%#
  _accordion
  @param {String} ttl タイトル
  @param {String} txt 表示されるテキスト
%>

<div class="c-ttlArea">
  <c class="c-ttlArea__ttl"><%- ttl %></c>
  <p class="c-ttlArea__subTtl"><%- subTtl %></p>
</div>
